:root {
  --day-completed: darkgreen ;
  --day-completed-border: lightgreen;
  --day-future: #290505;
  --day-future-border: #9c1f1f;
  --day-holiday: #144a14;
  --day-holiday-border: #2c7a4a;
  --day-text-holiday: #4ace66;
  --day-text-future: #9c1f1f;
  --day-text-completed: #ffffff;
  --text-primary: goldenrod;
  --text-secondary: rgb(85, 63, 7);
  --text-tertiary: lightslategray;
  --term-status-text: rgb(116, 96, 46);
  --term-status-value: rgb(167, 124, 16);
}

@media (prefers-color-scheme: light) {
  :root {
    --day-completed: rgb(168, 226, 168) ;
    --day-completed-border: rgb(77, 170, 77);
    --day-future: #f8d7d7;
    --day-future-border: #f5a9a9;
    --day-holiday: #d4f4d4;
    --day-holiday-border: #a9e2a9;
    --day-text-holiday: #1b6e1b;
    --day-text-future: #a94442;
    --day-text-completed: #ffffff;
    --text-primary: rgb(0, 0, 0);
    --text-secondary: rgb(85, 63, 7);
    --text-tertiary: lightslategray;
    --term-status-text: rgb(116, 96, 46);
    --term-status-value: rgb(218, 202, 164);
  }
}

div.title {
  /* background-color: #141414; */
  margin-top: 40px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--text-primary);
  flex-wrap: wrap;
}

div.title div {
  color: var(--text-secondary);
}

div.term {
  display: flex;
  align-items: center;
  gap: 5px 20px;
  flex-wrap: wrap;
}

div.term > .week {
  font-size: 0.8rem;
}

.week > .title {  
  display: flex;
  align-items: center;    
  gap: 5px;
}

.week > .title > .month {
  color: var(--text-tertiary);
  font-size: 0.7rem;
}

div.term > .week > .days {
  gap: 4px;
  display: flex;  
}

.days .day {
  margin: 2px;
  border : 1px solid var(--day-future-border);
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  line-height: 25px;
  color: var(--day-text-future);
  background-color: var(--day-future);
  text-align: center;
  content-visibility: hidden;
}

.day:hover  {
  content-visibility: visible;
  cursor: pointer;
}

.days .day.completed {
  border : 1px solid var(--day-completed-border);
  background-color: var(--day-completed);
  color: white;
}

.days  .day.holiday,
.days.holiday .day {
  background-color: var(--day-holiday);
  border: 1px solid var(--day-holiday-border);
  color: var(--day-text-holiday);
}

.key h2 {
  margin-top: 20px;
}

.key  .key-entry {
  display: flex;
  align-items: center;
  gap: 10px;
}

.break {
  flex-basis: 100%;
  width: 0;
}
.term-status {
  display: flex;  
  align-items: center;
  justify-content: center;  
  gap: 20px;  
  font-size: 0.8rem;
  color: var(--term-status-text);
}

.term-status .value {
  font-weight: bold;
  margin-left: 5px;
  color: var(--term-status-value);
}