:root {
  --day-completed: hsl(120, 100%, 10%) ;
  --day-completed-border: hsl(120, 72%, 30%);
  --day-text-completed: hsl(120, 100%, 20%);

  --day-future: hsl(0, 95%, 10%);
  --day-future-border: hsl(0, 95%, 30%);
  --day-text-future: hsl(0, 95%, 20%);

  --day-holiday: hsl(214, 54%, 10%);
  --day-holiday-border: hsl(214, 61%, 30%);
  --day-text-holiday: hsl(214, 61%, 20%);

  --text-primary: hsl(0, 0%, 90%);
  --text-secondary: hsl(45, 85%, 20%);
  --text-tertiary: hsl(210, 14%, 50%);
  --term-status-text: hsl(43, 43%, 32%);
  --term-status-value: hsl(43, 83%, 36%);


  --term-background: hsl(0, 0%, 5%);
  --term-border: hsl(0, 0%, 20%);
  --term-completed: hsl(120, 100%, 3%);
  --term-completed-border: hsl(120, 72%, 10%);
}

@media (prefers-color-scheme: light) {
  :root {
    --day-completed: #a8e2a8 ;
    --day-completed-border: #4daa4d;
    --day-future: #f8d7d7;
    --day-future-border: #f5a9a9;
    --day-holiday: #c1c9f8;
    --day-holiday-border: #7482cf;
    --day-text-holiday: #1b6e1b;
    --day-text-future: #a94442;
    --day-text-completed: #4daa4d;
    --text-primary: #000000;
    --text-secondary: #553f07;
    --text-tertiary: lightslategray;
    --term-status-text: #74602e;
    --term-status-value: #dacaa4;
    --term-background: hsl(0, 0%, 95%);
    --term-border: hsl(0, 0%, 80%);
    --term-completed: hsl(120, 100%, 90%);
    --term-completed-border: hsl(120, 72%, 60%);
  }
}

.term-section {
  background-color: var(--term-background);
  border: 1px solid  var(--term-border);
  padding: 10px;  
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.term-section.completed {
  border: 2px solid var(--term-completed-border);
  background-color: var(--term-completed);
}

.term-section > .title > h2 {
  font-size: 1rem;
  font-weight: 600;
}

div.title {
  font-size: 1rem;
  display: flex;  
  gap: 20px;
  margin-bottom: 0.5rem;
}

div.term {
  display: flex;
  align-items: center;
  gap: 5px 15px;
  flex-wrap: wrap;
}


div.term > .week {
  /* color: var(--text-secondary); */
  font-size: 0.8rem;
}

.week > .title {  
  display: flex;
  align-items: center;    
  gap: 5px;
}



.week > .title > .month {
  color: var(--text-tertiary);
  font-size: 0.7rem;
}

div.term > .week > .days {
  gap: 3px;
  display: flex;  
  /* background-color: hsl(0, 0%, 20%); */
}

.days .day {
  margin: 2px;
  border : 1px solid var(--day-future-border);
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  line-height: 25px;
  color: var(--day-text-future);
  background-color: var(--day-future);
  text-align: center;
}

@media (hover: hover) {
  .days .day {
    content-visibility: hidden;
  }
}

.day:hover  {
  content-visibility: visible;
  cursor: pointer;
}

.days .day.completed {
  border : 1px solid var(--day-completed-border);
  background-color: var(--day-completed);
  color: var(--day-text-completed);
}

.days .day.today {
  border: 2px solid var(--text-primary);
}

.days  .day.holiday,
.days.holiday .day {
  background-color: var(--day-holiday);
  border: 1px solid var(--day-holiday-border);
  color: var(--day-text-holiday);
}

.key h2 {
  margin-top: 20px;
}

.key  .key-entry {
  display: flex;
  align-items: center;
  gap: 10px;
}

.break {
  flex-basis: 100%;
  width: 0;
}
.term-status {
  display: flex;  
  align-items: center;
  justify-content: center;  
  gap: 20px;  
  font-size: 0.8rem;
  /* color: var(--term-status-text); */
}

.term-status .value {
  font-weight: bold;
  margin-left: 5px;
  /* color: var(--term-status-value); */
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--text-primary);
}

.year-stats > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  flex-wrap: wrap;
}

.year-stats .title {
  font-weight: bold;
}